.header{
    
    width: 100%;

    height: 50px;
    background-color: var(--primary-palette-brand-2-pale, #FFDCD3);;

}
.header h1{

    color: var(--Body---Titles, #444950);
    text-align: center; 
    font-family: Abhaya Libre;
font-size: 13px;
font-style: normal;
font-weight: 700;
line-height: 140%; /* 18.2px */
letter-spacing: 0.26px;
text-transform: uppercase;

}

.contenedor {
    display: flex;
    flex-direction: row;

  }
  
  .contenedor > div {
    width: 22%;
  }
  .seccion1{
    padding-left: 20%;
    height: 131px;
    top: 63px;
    left: 216px;

  }
  .seccion2{
    padding-top: 6%;
    padding-left: 20%;
    height: 131px;
    top: 63px;
    left: 216px;
  }
  .txt1{

    color: var(--Body---Titles, #444950);
font-family: Abhaya Libre;
font-size: 44px;
font-style: normal;
font-weight: 700;
line-height: 140%; 
  }
  .rectangulo{
    
    margin-right: 10%;
  border-radius: 100px;
    width: 70px;
    height: 24px;
    background-color: var(--primary-palette-brand-2-pale, #FFDCD3);;
    display: inline-block;
  }
  .rectanguloAzul {
    margin-right: 10%;
    border-radius: 100px;
    width: 70px;
    height: 24px;
    background-color: #D1F1FF80;
    position: absolute;
    top: 13%;
    z-index: -1;
}
  .subSeccion{ 
    display: flex;
    flex-direction: row;


  }
 
  .arrowleft {
    position: absolute;
    padding-top: 0px;
    padding-right: 0px;
    left: 60.5%;
    top: 12%;
    z-index: auto;
}
.arrow svg circle{
  cursor: pointer;
}
.arrow { 
  position: absolute;
  padding-top: 0px;
  padding-right: 0px;
  right: 25%;
  top: 12%;
  z-index: auto;
}
.contenedosBtn{
  margin-top: 75px;
  margin-bottom: 75px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.Btn{ cursor: pointer;
  justify-content: center;
  color: var(--White, #FFF);
text-align: center;
font-family: Neogrotesk Ess;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 170%; /* 23.8px */
text-transform: uppercase;
display: flex;
padding: 12px 32px;
align-items: center;
border-radius: 100px;
border: 1px solid var(--primary-palette-brand-2, #EFA693);
opacity: 0.9;
background: var(--primary-palette-brand-2, #EFA693)
}
.footer{
  justify-content: center;
  width: 1440px;
height: 1009px;
background-image: url();
}
.footer h3{
  color: var(--Body---Titles, #444950);
text-align: center;
/* Desktop/H2-Desktop */
font-family: Abhaya Libre;
font-size: 44px;
font-style: normal;
font-weight: 700;
line-height: 140%; /* 61.6px */
}
.footer p{
  color: var(--Gray---Paragraph, #939393);
text-align: center;
font-family: Filson Pro;
font-size: 15px;
font-style: normal;
font-weight: 350;
line-height: 180%; /* 27px */
}